<div class="main-div">
  <mat-card>
    <mat-card class="cards">
      <mat-card-header>
        <mat-card-title class="titulo"
          >Centro de convenciones y eventos</mat-card-title
        >
        <mat-card-subtitle class="subtitulo"
          >Lagos del Siecha</mat-card-subtitle
        >
      </mat-card-header>
      <img
        mat-card-image
        src="https://firebasestorage.googleapis.com/v0/b/lagos-del-siecha.appspot.com/o/WhatsApp%20Image%202020-02-27%20at%209.03.40%20AM%20(1).jpeg?alt=media&token=299c3f54-00b1-418d-a2c0-4088e337b46e"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content class="displaynone">
        <p>
          Durante la contingencia del COVID 19, estamos trabajando en el
          protocolo de atencion a eventos y convenciones, puedes enviarnor tu
          solicitud por este medio.
        </p>
        <mat-card-title
          >Cuentanos que quieres hacer y cuando tienes pensado
          hacerlo!</mat-card-title
        >
        <p>
          <mat-form-field appearance="outline" class="select">
            <mat-label>Escribenos acerca de tu futuro evento</mat-label>
            <textarea matInput placeholder="Detalles del pedido"></textarea>
          </mat-form-field>
        </p>
      </mat-card-content>
      <mat-card-actions class="displaynone">
        <button mat-raised-button color="primary">Enviar</button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title class="titulo"
          >Escribenos por WhatsApp para que te podamos atender en el
          futuro</mat-card-title
        >
      </mat-card-header>
      <mat-card-content>
        <p>
          Durante la contingencia del COVID 19 no tenemos autorizado la atención
          para eventos, estamos trabajando en el protocolo de atención a eventos
          y convenciones, puedes enviarnos tu solicitud por este medio, para
          atender tu evento una vez podamos hacerlo, esperamos tu comprensión.
        </p>
        <mat-card-actions>
          <a
            href="https://wa.me/573107725161?text=Quiero%20hacer%20una%20reserva%20para%20eventos"
            target="_blank"
            rel="nofollow noopener noreferrer"
            class="whatsappButton"
            mat-raised-button
            color="primary"
          >
            Escribenos un WhatsApp
          </a>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </mat-card>
</div>
<app-footer></app-footer>
