<div class="main-div">
  <mat-card>
    <mat-card class="cards">
      <mat-card-header>
        <mat-card-title class="titulo"
          >Pesca deportiva, restaurante - bar, eventos y
          convenciones</mat-card-title
        >
        <mat-card-subtitle class="subtitulo"
          >Lagos del Siecha</mat-card-subtitle
        >
      </mat-card-header>
      <img
        mat-card-image
        src="../../../assets/images/lagosdelsiecha.jpg"
        alt="Lagos del Siecha"
      />
      <mat-card-content>
        <p class="leyenda">
          Con más de 30 años de tradición, el club de pesca de trucha,
          restaurante - bar y centro de convenciones "Lagos del Siecha" abre sus
          puertas en Guasca, Cundinamarca para atenderlos con los mejores
          estándares de calidad.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="cards">
      <mat-card-header>
        <mat-card-title class="titulo">Restaurante - Bar</mat-card-title>
        <mat-card-subtitle class="subtitulo"
          >Lagos del Siecha</mat-card-subtitle
        >
      </mat-card-header>
      <img
        mat-card-image
        src="../../../assets/images/vinochimenea.jpeg"
        alt="lagos_del_siecha"
      />
      <mat-card-content>
        <p class="leyenda">
          Nuestro restaurante de comida internacional, tiene las mejores
          preparaciones de Trucha de la region, ademas tenemos platos con carne,
          pollo y vegetarianos, nuestros deliciosos postres hechos especialmente
          para deleitar su paladar con una vista monumental al Parque Natural
          Nacional Chingaza, los esperamos!
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button
          [routerLink]="['/restaurante']"
          routerLinkActive="router-link-active"
          mat-flat-button
          color="primary"
        >
          Restaurante
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="cards">
      <mat-card-header>
        <mat-card-title class="titulo">Pesca de trucha arcoiris</mat-card-title>
        <mat-card-subtitle class="subtitulo"
          >Lagos del Siecha</mat-card-subtitle
        >
      </mat-card-header>
      <img
        mat-card-image
        src="../../../assets/images/pesca.jpeg"
        alt="pesca_deportiva_lagos_del_siecha"
      />
      <mat-card-content>
        <p class="leyenda">
          Contamos con tres lagos de pesca, actualmente tenemos a su servicio
          solo dos, donde podran pescar trucha arcoiris esta especie se destaca
          por sus espectaculares saltos y duros combates cuando la atrapas.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button
          [routerLink]="['/pesca']"
          routerLinkActive="router-link-active"
          mat-flat-button
          color="primary"
        >
          Pesca de trucha
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="cards">
      <mat-card-header>
        <mat-card-title class="titulo"
          >Centro de eventos y convenciones</mat-card-title
        >
        <mat-card-subtitle class="subtitulo"
          >Lagos del Siecha</mat-card-subtitle
        >
      </mat-card-header>
      <img
        mat-card-image
        src="../../../assets/images/convenciones.jpeg"
        alt="convenciones_lagos_del_siecha"
      />
      <mat-card-content>
        <p class="leyenda">
          Centro de eventos, convenciones y recepciones para cerca de 200
          personas que disfrutan de una instancia inolvidable, llevan a cabo sus
          eventos y disfrutan de un paisaje paradisiaco, digno de los alpes de
          europa a solo una (1) hora de Bogotá, tenemos atencion a la mesa o
          tipo buffet, preparaciones especiales para el evento que estas
          planeando, ademas si sabes como planear tu evento y que actividades
          puedes incluir nosotros te podemos asesorar, que esperas!
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button
          [routerLink]="['/eventos']"
          routerLinkActive="router-link-active"
          mat-flat-button
          color="primary"
        >
          Centro de eventos y convenciones
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="cards">
      <mat-card-header>
        <mat-card-title class="titulo">Medios de pago</mat-card-title>
        <mat-card-subtitle class="subtitulo"
          >Lagos del Siecha</mat-card-subtitle
        >
      </mat-card-header>
      <img
        mat-card-image
        src="../../../assets/images/mediosdepago.png"
        alt="lagos_del_siecha"
      />
      <mat-card-content>
        <p class="leyenda">
          No tenemos datafono, pero nuestros pagos se pueden hacer por medio de un enlace de pago, que enviamos a tu telefono o email, sin ningun contacto, esta administrado y gestionado por PAY U COLOMBIA.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="cards">
      <mat-card-header>
        <mat-card-title class="titulo">Mapa</mat-card-title>
        <mat-card-subtitle class="subtitulo"
          >Lagos del Siecha</mat-card-subtitle
        >
      </mat-card-header>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3975.8303191048594!2d-73.89406438577834!3d4.799167042133488!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd4d0d6422038eece!2sLagos%20del%20Siecha!5e0!3m2!1ses!2sco!4v1593445615167!5m2!1ses!2sco"
        width="100%"
        height="450"
        frameborder="0"
        style="border: 0;"
        allowfullscreen=""
        aria-hidden="false"
        tabindex="0"
      ></iframe>
      <mat-card-content>
        <p class="leyenda">
          Puedes salir de Bogotá por la Calera a unos 52 Km Aprox o por la
          Autopista Norte, Briceño - Sopo a unos 60 Km Aprox. Haz click en el
          botón como llegar y google te indicara el camino más cercano.
        </p>
      </mat-card-content>
    </mat-card>
  </mat-card>
</div>
<app-footer></app-footer>
