<div class="main-div">
  <mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title class="titulo"
          >Quieres ponerte en contacto con nosotros?</mat-card-title
        >
        <mat-card-subtitle class="subtitulo"
          >Lagos del Siecha</mat-card-subtitle
        >
      </mat-card-header>
      <mat-card-content>
        <p class="leyenda">
          Para nosotros su opinión es muy importante. Nos encanta escuchar sus
          ideas, felicitaciones, sugerencias y también saber lo que no estamos
          haciendo bien para mejorar su experiencia.
          <b>¡Muchas gracias por su tiempo!</b>
        </p>
        <p>El equipo de Lagos del Siecha está a su disposición</p>
        <div class="center">
          <h2>Contactanos por los siguientes canales:</h2>
          <p>
            <a
              href="tel:+573107725161"
              mat-raised-button
              color="primary"
              class="telButton"
              ><b>Llamanos al: +57 310 772 51 61</b></a
            >
          </p>
          <p>
            <a
              href="https://wa.me/573107725161?text=Quiero%20hacer%20una%20reserva%20para%20eventos"
              target="_blank"
              rel="nofollow noopener noreferrer"
              class="whatsappButton"
              mat-raised-button
              color="primary"
            >
              <b>Escribenos un WhatsApp</b>
            </a>
          </p>
          <p>
            <a
              href="mailto: hola@lagosdelsiecha.com"
              target="_blank"
              rel="nofollow noopener noreferrer"
              class="mailButton"
              mat-raised-button
              color="primary"
              ><b>Enviar email</b></a
            >
          </p>
          <h2>Nuestra direccion:</h2>
          <address>
            Vereda Trinidad, Sector Pasohondo<br />Guasca, Cundinamarca,
            Colombia
          </address>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-card>
</div>
<app-footer></app-footer>
