<mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Reservas</mat-card-title>
      <mat-card-title>
        El siguiente formulario te permite reservar tu visita con anticipación,
        de esta manera podemos mejorar la atención que le brindamos y atenderlo
        en las horas acordadas en este formulario, a partir de ahora, el
        formulario es mucho más corto y no es obligatorio llenarlo, pero si lo
        haces nos ayudarás a prestarte un mejor servicio.
      </mat-card-title>
      <mat-card-subtitle class="subtitulo"
        >Puede llenarlo una sola persona por el grupo de personas que
        venga</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <iframe
        src="https://docs.google.com/forms/d/e/1FAIpQLSfzwq9I5_GZBtfu8sMLidCNsJ6iYsCRcJVCKsNMiYvWOJKezQ/viewform?embedded=true"
        width="100%"
        height="1433"
        frameborder="0"
        marginheight="0"
        marginwidth="0"
        >Cargando…</iframe
      >
    </mat-card-content>
  </mat-card>
</mat-card>
